Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md

.cache
**/.cache

.git
**/.git

.next
**/.next

.vercel
**/.vercel

.ipynb_checkpoints/
**/.ipynb_checkpoints/
Untitled.ipynb

.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
