Flask==3.0.3
fuzzywuzzy
jq
sentence_transformers
transformers
torch
mmh3
pandas
numpy
# langchain-anthropic==0.3.1
langchain-community
langchain_huggingface
# langchain-ollama
langchain-openai
# langchain-together
langgraph
python-dotenv
pydantic
git+https://github.com/VIDA-NYU/bdi-kit@devel